/* HEADER STYLES */
.header{
    background-image: url(../images/banner/banner3.png);
    width: 1600px;
    height: 820px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 100px;
}
.all-things-are-possible{
    font-size: 35px;
    font-weight: 500;
    font-family: work sans;
    color: #ffffff;
    text-align:right;
    margin-top: 200px;
    margin-right: 150px;
}
.intro-paragraph{
    font-size: 15px;
    font-weight: 400;
    font-family: work sans;
    color: #ffffff;
    text-align: right;
    margin-right:150px;
    margin-bottom: 50px;
}

.submit{
    text-align: right;
    background-color: #ffffff;
    color:#005FAC;
    border-radius: 5px;
    padding: 30px 40px;
}
.set{
    text-align: right;
    margin-right: 150px;
}
a{
    text-decoration: none;
}

/* MY FAILURES OF THE YEAR STYLES */

.second-banner{
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: left;
position: absolute;
height: 94px;
width: 300px;
left: 862px;
top: 1000px;
border-radius: nullpx;

}

.second-image{
    height: 724px;
    width: 569px;
    left: 206px;
    top: 939px;
    border-radius: 0px;
    position: absolute;
}

.failure-description{
        font-family: Work Sans;
        font-size: 15px;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 0em;
        color:#444343;
        text-align: left;
        position: absolute;
        height: 104px;
        width: 416px;
        margin-bottom: 0;
}
#my-failure-of{
    width: 400px;
    margin-bottom: 0;
}
#previous-year{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 0;
}
.list{
    position: absolute;
    top: 320px;
    font-size: 15px;
    font-family: work sans;
    color: #444343;
}
.list-item{
    list-style: none;
}