/* HEADER STYLES */
.header{
    background-image: url(../images/banner/banner3.png);
    width: 100%;
    height: 820px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 100px;
    background-size: cover;
}
.all-things-are-possible{
    font-size: 35px;
    font-weight: 500;
    font-family: work sans;
    color: #ffffff;
    text-align:right;
    margin-top: 200px;
    margin-right: 150px;
}
.intro-paragraph{
    font-size: 15px;
    font-weight: 400;
    font-family: work sans;
    color: #ffffff;
    text-align: right;
    margin-right:150px;
    margin-bottom: 50px;
}

.submit{
    text-align: right;
    background-color: #ffffff;
    color:#005FAC;
    border-radius: 5px;
    padding: 30px 40px;
}
.set{
    text-align: right;
    margin-right: 150px;
}
a{
    text-decoration: none;
}

/* MY FAILURES OF THE YEAR STYLES */

.second-banner{
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: left;
position: absolute;
height: 94px;
width: 300px;
left: 862px;
top: 1000px;
border-radius: nullpx;

}

.second-image{
    height: 724px;
    width: 569px;
    left: 206px;
    top: 939px;
    border-radius: 0px;
    position: absolute;
}

.failure-description{
        font-family: Work Sans;
        font-size: 15px;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 0em;
        color:#444343;
        text-align: left;
        position: absolute;
        height: 104px;
        width: 416px;
        margin-bottom: 0;
}
#my-failure-of{
    width: 400px;
    margin-bottom: 0;
}
.future p{
    font-size: 25px;
}
#previous-year{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 0;
}
.list{
    position: absolute;
    top: 320px;
    font-size: 15px;
    font-family: work sans;
    color: #444343;
}
.list-item{
    list-style: none;
}

/* MY PLANS STYLE */

.plan-banner{
    position: absolute;
    top: 1800px;
    color: black;
    left: 900px;
    right: 700px;
    font-size: 30px;
}


.my-plans{
    position: absolute;
    top: 2000px;
    left: 200px;
    text-align: right;
    display: flex;
    gap: 300px;
    font-size: 20px;
}
.my-plans p,h3{
    font-size: 25px;
}
.second-banner p{
    font-size: 25px;
}
.second-banner h3{
    font-size: 30px;
}
.list-item li{
    font-size: 20px;
    font-family: work sans;
    color: rgb(85, 53, 53);
}
#practise-issue{
    font-size: 30px;
    color: red;
}
.image-work{
    position: absolute;
    top: 2300px;
    /* left: ; */
    /* border: 5px solid black; */
    /* border-radius: 5px; */
    width: 1140px;
    height: 301px;
    left: 430px;
    background-image: url(../images/gradient1.png),url(../images/watch.png);
}
.quote{
    position: absolute;
    top: 59px;
    left: 64px;
    font-size: 28px;
    font-weight: 400;
    font-family: work sans;
    color: #ffffff;
}
.positive{
    margin-bottom: 0;
    margin-top: 0;
}
.mindset{
    margin-top: 0;
}
.call-now{
    font-size: 15px;
    color: #005FAC;
    background-color: wheat;
    padding: 25px 45px;
    border-radius: 5px;
}
/* FOOTER STYLES */

.footer{
    position: absolute;
    width:100%;
    height: 577px;
    top: 2650px;
    left: 0;
    background-color: #151414;
    color: #ffffff;
    /* display: flex; */
    gap: 50px;
}

.btn-subscribe{
    background-color: #005FAC;
    color: #ffffff;
    padding: 20px 45px;
    position: absolute;
    top: 190px;
    border-radius: 5px;
}
.footer-form input{
    width: 250px;
    height: 50px;
    background-color: #444343;
    border-radius: 5px;
}
.footer-form input[type='email'] {
    color: #ffffff;
    padding-left: 15px;
}

.footer-flex{
    display: flex;
    gap: 1000px;
    position: absolute;
    top: 80px;
    left: 150px; 

}
#subscribe-banner{
    font-size: 25px;
}